MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

PG_HOST=localhost
PG_PORT=5432
PG_USER=pipeline
PG_PASSWORD=pipeline
PG_DATABASE=basket_craft

RDS_HOST=basket-craft-db.cw5mgk6qsvia.us-east-1.rds.amazonaws.com
RDS_USER=student
RDS_PASSWORD=go_lions
RDS_DATABASE=basket_craft